:root {
  --font-headline: Poppins, sans-serif;
  --font-sans: "Open Sans", Montserrat, Comfortaa, sans-serif;
  --font-mono: "JetBrains Mono", Roboto Mono, monospace;

  --background-color: white; /* rgb(245, 243, 255); */
  --foreground-color: black; /* rgb(33, 30, 109); */
  --hover-color: #FFF294;

  --primary-color: #212121;
  --secondary-color: rgb(69 65 62);
  --background-color: #fff;
  --content-background-color: #fff;
  --accent-color: #AFF4FF; /* AFF4FF */

  --code-border-radius: 6px;
  --code-border-color: rgba(0, 0, 0, 0.08);

  --code-color-keyword: oklch(53.5% 0.2058 2.84);
  --code-color-classname: #005cc5;
  --code-color-function: oklch(47.18% 0.2579 304);
  --code-color-comment: #666;
  --code-color-string: #22863a;
  --code-color-number: #f75c5c;

  --header-height: 60px;
  --nav-color: black;
  --nav-background-color: white;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth; /* 인덱스 이동 시 스크롤 되며 이동 */
}

*, :before, :after {
  box-sizing: inherit;
}

h1, h2, h3 {
  font-family: var(--font-headline);
}

body {
  font-family: var(--font-sans);
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0;
}

main, section, div {
    display: block;
}

a:link {
  text-decoration: none;
}

img {
  width: 100px;
  height: auto;
  display: block;
}

.w-4 {
    width: calc(var(--spacing) * 4);
}

.px-10 {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
}

.px-5 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.py-6 {
    padding-bottom: 3rem !important;
    padding-top: 3rem !important;
}

.py-5 {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.margin-small {
 margin: 1rem
}

.margin-small-medium {
  margin: 1.5rem;
}

.margin-medium {
  margin: 2rem
}

.margin-large {
  margin: 3rem
}

.max-width-med-large {
  width: 100%;
}

/*
a:link {
  color: #42A5F5;
  text-decoration: none;
}

a:visited {
  color: #EA80FC;
  text-decoration: none;
}

a:link:hover {
  color: #1565C0;
}

a:visited:hover {
  color: #8E24AA;
}
*/