footer {
  display: block;
  width: 100%;
  height: 360px;
  background-color: var(--hover-color);
  color: var(--background-color);
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}

footer .inner {
    position: relative;
    display: block;
}

.flex {
    display: flex;
    flex-direction: column;
    color: var(--foreground-color);
}

.gap-y-14 {
  row-gap: 110px;
}

.tracking-wider {
    letter-spacing: .05em;
}

.justify-between {
    justify-content: space-between;
}

.items-baseline {
  display: flex;
  align-items: baseline;
}

.items-baseline > :last-child {
  margin-left: auto; /* Push the element to the right, dropping it as far from the left as possible. */
}

.mb-14 {
    margin-bottom: 3.5rem;
}

.gap-x-4 {
    column-gap: 20px;
}

.link-container {
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.link-item {
  width: fit-content;
  align-items: center;
  color: var(--foreground-color);
}

.link-item:hover {
  color: #00f;
}

.link-item svg {
  width: 28px;
  height: 28px;
}

.logo-wrapper img {
  width: 180px;
  height: auto;
  user-select: none;
}

.copyright {
    display: flex;
    text-align: right;
    /*justify-content: flex-end;*/
}

.copyright::selection {
  background-color: var(--foreground-color);
  color: var(--hover-color);
}

@media print, screen and (max-width: 1023px) {
  footer {
    padding: 0px 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 0px 7rem;
  }
}

@media print, screen and (min-width: 1365px) {
  footer {
    padding: 0px 11.5rem;
  }
}

@media print, screen and (min-width: 2100px) {
  footer {
    padding: 0px 15rem;
  }
}

@media (min-width: 841px) {
  footer {
    height: 280px;
  }

  .flex-row {
    flex-direction: row;
  }

  .gap-y-14 {
    row-gap: 3.5rem;
  }
}