footer {
  display: block;
  width: 100%;
  height: 360px;
  background-color: var(--foreground-color);
  color: var(--background-color);
  padding-bottom: 3rem !important;
  padding-top: 3.8rem !important;
}

footer .inner {
  position: relative;
  display: block;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--background-color);
}

.tracking-wider {
  letter-spacing: .05em;
}

.justify-between {
  justify-content: space-between;
}

.items-baseline {
  display: flex;
  align-items: baseline;
}

.items-baseline > :last-child {
  margin-left: auto; /* Push the element to the right, dropping it as far from the left as possible. */
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.gap-x-4 {
  column-gap: 20px;
}

.link-container {
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.link-item {
  width: fit-content;
  align-items: center;
  color: var(--background-color);
}

.link-item:hover {
  color: #ccc;
}

.link-item svg {
  width: 28px;
  height: 28px;
}

.logo-wrapper {
  user-select: none;
}

.logo-wrapper img {
  width: 180px !important;
  height: auto;
  user-select: none;
}

.copyright {
  display: flex;
  text-align: right;
}

.copyright p {
  font-size: 1rem;
}

.copyright::selection {
  background-color: var(--background-color);
  color: var(--foreground-color);
}

@media print, screen and (max-width: 1023px) {
  footer {
    padding: 0px 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  footer {
    padding: 0px 7rem;
  }
}

@media print, screen and (min-width: 1365px) {
  footer {
    padding: 0px 11.5rem;
  }
}

@media print, screen and (min-width: 2100px) {
  footer {
    padding: 0px 15rem;
  }
}

@media print, screen and (min-width: 841px) {
  footer {
    height: 280px;
  }

  .flex-row {
    flex-direction: row;
  }
}

@media print, screen and (max-width: 480px) {
  footer {
    padding: 0px 1.5rem;
    padding-top: 2.8rem !important;
  }

  .logo-wrapper img {
    width: 140px !important;
  }
}