.example-container {
  width: 100%;
  margin: 1.5rem 0;
  box-sizing: border-box; /* padding 포함 너비 계산을 위해 */
  display: flex;              /* 플렉스 컨테이너로 만들기 */
  justify-content: center;    /* 가로 방향 중앙 정렬 */
}

.example-frame-square, .example-frame-rectangle {
  display: inline-block; /* 자식 크기에 맞춰진다 */
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
}

.example-frame-square svg {
  width: 400px;
  height: auto;
  display: block; /* inline svg 여백 제거 */
}

.example-frame-square.scale-up svg {
  width: 600px;
}

.example-frame-rectangle svg {
  width: 600px;
  height: auto;
  display: block; /* inline svg 여백 제거 */
}

.example-container img {
  width: 400px;
  height: auto;
  display: block;
  border-radius: 0.5rem;
}